:root {
    --blue-color-100: #D0E7FE;
    --blue-color-200: #A2CCFD;
    --blue-color-300: #73ACFB;
    --blue-color-400: #5091F8;
    --blue-color-500: #1865F4;
    --blue-color-600: #114DD1;
    --blue-color-700: #0C39AF;
    --blue-color-800: #07288D;
    --blue-color-900: #041B75;
    --orange-color-100: #FFF8E6;
    --orange-color-200: #FFE09B;
    --orange-color-300: #FFCB6A;
    --orange-color-400: #FFB645;
    --orange-color-500: #FF9307;
    --orange-color-600: #DB7405;
    --orange-color-700: #A95002;
    --orange-color-800: #934102;
    --orange-color-900: #7A3001;
    --violet-color-100: #F7D5FC;
    --violet-color-200: #EAACFA;
    --violet-color-300: #D480F1;
    --violet-color-400: #B95EE4;
    --violet-color-500: #942ED3;
    --violet-color-600: #7421B5;
    --violet-color-700: #571797;
    --violet-color-800: #3D0E7A;
    --violet-color-900: #2B0865;
}