@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./business-color.css";


* {
  box-sizing: border-box;
}

html {
  @apply text-[#757693];
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #27326f;
}

.overflow-strategies::-webkit-scrollbar {
  width: 0;
}